<div class="container">
  <div class="meal-of-the-day">
    <h2>Meal of the Day</h2>
    <app-carousel></app-carousel>
  </div>

  <hr class="section-divider">

  <div class="popular-recipes">
    <h2>Popular Recipes</h2>
    <div class="popular-recipes-content">
      <div class="recipe" *ngFor="let recipe of displayedPopularRecipes">
        <a [routerLink]="['/recipe-details', recipe.recipe_id]">
          <img 
            [src]="'data:image/jpeg;base64,' + recipe.picture" 
            [alt]="recipe.name"
          >
        </a>
        <h3>
          <a 
            [routerLink]="['/recipe-details', recipe.recipe_id]"
          >
            {{ recipe.name }}
          </a>
        </h3>
      </div>
    </div>
    <div class="pagination">
      <button 
        (click)="prevPagePopular()" 
        [disabled]="currentPagePopular === 1">
        Previous
      </button>
      <span>Page {{currentPagePopular}} of {{totalPagesPopular}}</span>
      <button 
        (click)="nextPagePopular()" 
        [disabled]="currentPagePopular === totalPagesPopular">
        Next
      </button>
    </div>
  </div>

  <hr class="section-divider">

  <div class="latest-recipes">
    <h2>Latest Recipes You Made</h2>
    <div class="latest-recipes-content" *ngIf="isLoggedIn; else notLoggedIn">
      <div class="user-recipes" *ngIf="latestRecipes.length > 0; else noRecipes">
        <div class="recipe" *ngFor="let recipe of displayedLatestRecipes">
          <a [routerLink]="['/recipe-details', recipe.recipe_id]">
            <img 
              [src]="'data:image/jpeg;base64,' + recipe.picture" 
              [alt]="recipe.name"
            >
          </a>
          <h3>
            <a 
              [routerLink]="['/recipe-details', recipe.recipe_id]"
            >
              {{ recipe.name }}
            </a>
          </h3>
          <button class="update" (click)="getRecipeDetails(recipe.recipe_id)">
            Update
          </button>
          <button class="delete" (click)="deleteRecipe(recipe.recipe_id)">
            Delete
          </button>          
        </div>
      </div>
      <div class="pagination">
        <button 
          (click)="prevPageLatest()" 
          [disabled]="currentPageLatest === 1">
          Previous
        </button>
        <span>Page {{currentPageLatest}} of {{totalPagesLatest}}</span>
        <button 
          (click)="nextPageLatest()" 
          [disabled]="currentPageLatest === totalPagesLatest">
          Next
        </button>
      </div>
      <ng-template #noRecipes>
        <div>
          <p>
            Want to share your recipes? Add your own creations to inspire others!
          </p>
          <button class="share-recipe-btn" (click)="shareRecipe()">
            Share a Recipe
          </button>
        </div>
      </ng-template>
    </div>
    <ng-template #notLoggedIn>
      <div class="latest-recipes-content">
        <p>Want to share your recipes? Log in to add your own creations!</p>
        <button class="login-btn" (click)="navigateToLogin()">Log In</button>
      </div>
    </ng-template>
  </div>

  <hr class="section-divider">

  <div class="personalize-taste">
    <h2>Personalize Your Taste</h2>
    <div class="personalize-taste-content">
      <div class="filter" (click)="toggleDropdown()">
        <i class="fa" 
            [ngClass]="showDropdown ? 'fa-caret-up' : 'fa-caret-down'" 
            aria-hidden="true">
        </i>
        <span class="filter-label">Filter</span>
      </div>
      <div class="dropdown" *ngIf="showDropdown">
        <div class="dropdown-content">
          <div class="dropdown-column">
            <label>
              <input type="checkbox" [(ngModel)]="filters.eggs"> 
              Eggs
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="filters.dairy"> 
              Dairy
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="filters.nuts"> 
              Nuts
            </label>
          </div>
          <div class="dropdown-column">
            <label>
              <input type="checkbox" [(ngModel)]="filters.fish"> 
              Fish
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="filters.shrimp">
              Shrimp
            </label>
            <label>
              <input type="checkbox" [(ngModel)]="filters.vegetables">
              Vegetables
            </label>
          </div>
        </div>
        <button class="apply-btn" (click)="applyFilter()" 
                [disabled]="!hasSelectedFilter()">
          Apply
        </button>
      </div>
      <p *ngIf="!isFiltered">
        Tailor your recipe suggestions to match your taste buds. Exclude any 
        ingredients you dislike or are allergic to, and we'll serve up a list 
        of recipes tailored just for you.
      </p>
      <div *ngIf="isFiltered" class="filtered-recipes">
        <div class="recipe" *ngFor="let recipe of displayedFilteredRecipes">
          <a [routerLink]="['/recipe-details', recipe.recipe_id]">
            <img 
              [src]="'data:image/jpeg;base64,' + recipe.picture" 
              [alt]="recipe.name"
            >
          </a>
          <h3>
            <a 
              [routerLink]="['/recipe-details', recipe.recipe_id]"
            >
              {{ recipe.name }}
            </a>
          </h3>
        </div>
      </div>
      <div class="pagination" *ngIf="isFiltered">
        <button 
          (click)="prevPageFiltered()" 
          [disabled]="currentPageFiltered === 1">
          Previous
        </button>
        <span>Page {{currentPageFiltered}} of {{totalPagesFiltered}}</span>
        <button 
          (click)="nextPageFiltered()" 
          [disabled]="currentPageFiltered === totalPagesFiltered">
          Next
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="showModal = false">&times;</span>
    <h2>Update Recipe</h2>
    <form (ngSubmit)="updateRecipe()">
      <div class="form-container">
        <div class="form-content">
          <div class="title-container">
            <label class="title">Title:</label>  
            <input [(ngModel)]="editRecipe.name" name="name" required>
          </div>
          <div class="description-container">
            <label class="description">Description:</label> 
            <textarea 
              [(ngModel)]="editRecipe.description" 
              name="description" 
              required
            ></textarea>
          </div>
          <div class="meal-dietary-container">
            <div class="meal-type-container">
              <label class="meal-type">Meal Type:</label> 
              <select 
                [(ngModel)]="editRecipe.meal_type" 
                name="meal_type" 
                required
              >
                <option [ngValue]="''">Select Meal Type</option>
                <option value="Breakfast">Breakfast</option>
                <option value="Lunch">Lunch</option>
                <option value="Dinner">Dinner</option>
                <option value="Dessert">Dessert</option>
                <option value="Snacks">Snacks</option>
              </select>
            </div>
            <div class="dietary-preference-container">
              <label class="dietary-preference">Dietary Preference:</label>
              <select 
                [(ngModel)]="editRecipe.dietary_preference" 
                name="dietary_preference" 
                required
              >
                <option [ngValue]="''">Select Dietary Preference</option>
                <option value="Vegetarian">Vegetarian</option>
                <option value="Vegan">Vegan</option>
                <option value="Gluten-Free">Gluten-Free</option>
                <option value="Low-Carb">Low-Carb</option>
                <option value="Nut-Free">Nut-Free</option>
              </select>
            </div>  
          </div>
          <div class="time-servings-container">
            <div class="time-container">
              <label class="time">Time:</label>
              <input 
                [(ngModel)]="editRecipe.prep_time" 
                name="prep_time" 
                required
              >
            </div>
            <div class="servings-container">
              <label class="servings">Servings:</label>
              <input 
                  type="number" 
                  [(ngModel)]="editRecipe.servings" 
                  name="servings" 
                  required
              > 
            </div>            
          </div>
          <div class="ingredients">
            <h3>Ingredients:</h3>
            <div 
              *ngFor="let ingredient of editRecipe.ingredients; let i = index" 
              class="ingredient-quantity-container"
            >
              <div class="ingredient-container">
                <label class="ingredient">Ingredient:</label>
                <input 
                  [(ngModel)]="ingredient.ingredient" 
                  name="ingredient-{{i}}" 
                  required
                >   
              </div>
              <div class="quantity-container">
                <label class="quantity">Quantity:</label> 
                <input 
                  [(ngModel)]="ingredient.quantity" 
                  name="quantity-{{i}}" 
                  required
                >
              </div>
            </div>
          </div>
          <div class="instructions">
            <h3>Instructions:</h3>
            <div *ngFor="let procedure of editRecipe.procedures; let i = index">
              <div class="instructions-container">
                <label class="step">Step {{i + 1}}:</label>
                <textarea 
                  [(ngModel)]="procedure.instruction" 
                  name="instruction-{{i}}" 
                  required
                ></textarea>
              </div>
            </div>
          </div>
          <div class="image-container">
            <h3>Image:</h3>
            <div class="image-box">
              <img *ngIf="editRecipe.picture" 
                   [src]="'data:image/jpeg;base64,' + editRecipe.picture" 
                   alt="Recipe Image"
              >
            </div>
            <input type="file" (change)="onFileSelected($event)">
          </div>          
          <button class="update-recipe" type="submit">Update Recipe</button>        
        </div>     
      </div>
    </form>
  </div>
</div>