.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
}
  
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #0E194D;
    margin: 8px;
}
  
.recipe {
    width: 22%;
    margin: 1%;
    vertical-align: top;
    text-align: center;
}
  
.recipe img {
    width: 100%;
    height: 200px;
    border-radius: 23px;
    object-fit: cover;
    border: 3px solid #FFCE38;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.recipe img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
  
.popular-recipes-content, 
.latest-recipes-content .user-recipes, 
.personalize-taste-content .filtered-recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  
.recipe h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: math;
    font-size: larger;
    cursor: pointer;
}

.recipe h3 a {
    color: inherit;
    text-decoration: none;
}

.recipe h3:hover {
    color: #D82B1E;
}
  
.personalize-taste-content, 
.latest-recipes-content {
    background-color: #fff8e1;
    padding: 20px;
    border-radius: 18px;
    border: 5px solid rgba(255, 167, 0, 0.3);
    position: relative;
    display: flex;
    flex-direction: column;
}

.share-recipe-btn, 
.login-btn {
    margin-top: 10px;
    background: none;
    border: none;
    font-family: math;
    color: #D82B1E;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(230, 132, 72, 0.3);
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
}
  
.personalize-taste {
    margin-bottom: 26px;
}
  
.personalize-taste p, 
.latest-recipes p {
    color: #55555585;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 73%;
    font-style: italic;
    margin: auto;
    padding: 60px;
}
  
.filter {
    cursor: pointer;
    align-self: flex-end;
}
  
.filter-label {
    font-family: math, sans-serif;
    padding-left: 6px;
}
  
.dropdown {
    position: absolute;
    right: 0;
    background-color: #F4E5D7;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 30px;
    padding: 8px;
    margin-top: 30px;
}
  
.dropdown-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
  
.dropdown-column {
    display: flex;
    flex-direction: column;
}
  
.dropdown-column label {
    font-family: math, sans-serif;
}
  
.dropdown-column input[type="checkbox"] {
    cursor: pointer;
}
  
.apply-btn {
    margin-top: 10px;
    background: none;
    border: none;
    font-family: math;
    color: #D82B1E;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(230, 132, 72, 0.3);
    border-radius: 8px;
}
  
.section-divider {
    border: 0;
    height: 3px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 40px 0;
}

.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: auto;
    font-family: "Poppins", sans-serif;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto;
    width: 100%;
    height: 100%;
}

span.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: calc(88% - 10px);
}

label.title, 
label.description,
label.meal-type,
label.dietary-preference,
label.time,
label.servings,
label.ingredient,
label.quantity,
label.step,
label.image {
    margin-right: 1rem;
}

.title-container, 
.description-container,
.meal-type-container,
.dietary-preference-container,
.time-servings-container,
.ingredient-quantity-container,
.instructions-container,
.image-container {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.title-container input,
.description-container textarea,
.meal-type-container select,
.dietary-preference-container select,
.time-container input,
.servings-container input,
.ingredient-container input,
.quantity-container input,
.instructions-container textarea,
.image-container input {
    flex: 1;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.time-container,
.servings-container,
.ingredient-container, 
.quantity-container {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 10px;
}

.servings-container,
.quantity-container {
    margin-right: 0;
    margin-left: 10px;
}

.time-container input,
.servings-container input,
.ingredient-container input,
.quantity-container input {
    width: 100%;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    width: 100%;
}
  
.image-container label {
    margin-bottom: 0.5rem;
}
  
.image-box {
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    overflow: hidden;
}
  
.image-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image-container input[type="file"] {
    margin-top: 0.5rem;
    width: 100%;
}  

button.update, button.delete {
    background-color: #FFCE38;
    border: none;
    color: #0E194D;
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-weight: bold;
    border-radius: 8px;
    padding: 8px 13px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button.update:hover, button.delete:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.update {
    background-color: #FFCE38;
}

button.delete {
    background-color: #D82B1E;
    color: #fff;
}

button.update-recipe {
    background-color: #ffb9a9;
    border: 3px solid #ccccccd9;
    color: black;
    border-radius: 18px;
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
  
.pagination button {
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: #0E194D;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    transition: background 0.3s;
}
  
.pagination button:hover:not([disabled]) {
    background-color: rgba(14, 25, 77, 0.1);
}
  
.pagination button:disabled {
    color: #ccc;
    cursor: not-allowed;
}
  
.pagination span {
    font-family: 'Poppins', sans-serif;
    color: #0E194D;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    h2 {
        font-size: 18px;
    }

    .recipe {
        width: 48%;
        margin: 1%;
    }

    .popular-recipes-content, .user-recipes, .filtered-recipes {
        justify-content: space-between;
    }

    .recipe img {
        height: 150px;
    }

    .dropdown {
        right: 10px;
        margin-right: 10px;
    }

    .dropdown-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .latest-recipes-content p, .personalize-taste-content p {
        padding: 20px;
        font-size: 13px;
    }

    .share-recipe-btn, .login-btn {
        font-size: 14px;
    }

    .apply-btn {
        width: 100%;
        margin-top: 10px;
    }
}