.search-container {
    font-family: math;
    margin: 20px 60px;
}

.header {
    text-align: right;
    margin-bottom: 10px;
    position: relative; 
    padding-right: 50px;
}

.header h3 {
    margin: 0;
    display: inline-block; 
    text-shadow: 2px 0px 8px #f79797;
}

.header p {
    margin: 0;
    padding-right: 8px;
}

.hoverable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.popular-recipes {
    margin-bottom: 20px;
}

.popular-recipes h2 {
    margin-bottom: 20px;
    margin-top: 0;
    padding-left: 50px;
}

.recipe-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.recipe-tags button {
    background-color: rgba(255, 87, 51, 0.35);
    border: 3px solid #ccccccd9;
    color: black;
    padding: 3px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.recipe-tags button:hover {
    background-color: #ff7353;
}

.search-by-categories {
    margin-top: 20px;
}

.search-by-categories h2 {
    margin-bottom: 20px;
    padding-left: 50px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 166, 77, 0.5);
    color: black;
    padding: 30px;
    border-radius: 23px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #0000008a;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    width: 249px;
    height: 100px;
    justify-content: center;
    text-align: center;
    font-family: math;
}

.dropbtn:hover {
    background-color: rgba(255, 206, 56, 0.5);
}

.dropbtn.active {
    background-color: rgba(255, 206, 56, 0.5);
}

.dropdown img {
    margin-right: 13px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.dropdown .dropbtn {
    position: relative;
}

.dropdown .dropbtn i {
    position: absolute;
    bottom: -3px;
    transform: translateX(-50%);
    left: 68%;
    font-size: 38px;
    color: #60554e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.meal-type-container {
    background-color: #feeccaab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 13px; 
    padding: 23px;
    width: fit-content; 
    box-sizing: border-box; 
    border: 3px solid #be8f8f;
}
  
.meal-type {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    justify-content: center;
    gap: 20px;
}
  
.meal-type a {
    background-color: #F6DDAF;
    text-align: center;
    color: #571515bd;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px;
    font-family: math;
}
  
.meal-type a:hover{
    background-color: rgba(255, 206, 56, 0.5);
}
  
.meal-type img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
  
.modal-content {
    background-color: #f1e6e6;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #d0b2b2;
    border-radius: 16px;
    width: 23%;
}
  
.modal-content p {
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.modal input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.modal button {
    background-color: #FFA64D;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}
  
.modal button:hover {
    background-color: #f8912b;
}
  
.add-more-ingredients-container {
    text-align: right;
    margin-bottom: 30px;
    color: #0292B7;
    font-size: 13px;
}
  
.add-more-ingredients {
    color: #0292B7;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
  
.search-recipe {
    text-align: center;
}
  
a {
    text-decoration: none;
}
  
a.active {
    background-color: #ffbd53;
    padding: 10px;
    border-radius: 10px;
} 

.input-field-container {
    position: relative;
}

.input-field-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 40px;
}

.remove-btn {
    position: absolute;
    right: 12px;
    top: 43%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #b89f9f;
    font-size: 13px;
    cursor: pointer;
}

.remove-btn:hover {
    color: darkred;
}