.search-container {
    font-family: math;
    margin: 20px 60px;
}

.header {
    text-align: right;
    margin-bottom: 10px;
    position: relative; 
    padding-right: 50px;
}

.header h3 {
    margin: 0;
    display: inline-block; 
    text-shadow: 2px 0px 8px #f79797;
}

.header p {
    margin: 0;
    padding-right: 8px;
}

.hoverable:hover {
    cursor: pointer;
    text-decoration: underline;
}

.search-by-categories {
    margin-top: 20px;
}

.search-by-categories h2 {
    margin-bottom: 20px;
    padding-left: 180px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: rgba(255, 166, 77, 0.5);
    color: black;
    padding: 30px;
    border-radius: 23px;
    font-size: 20px;
    font-weight: bold;
    border: 3px solid #0000008a;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
    width: 249px;
    height: 100px;
    justify-content: center;
    text-align: center;
    font-family: math;
}

.dropbtn:hover {
    background-color: rgba(255, 206, 56, 0.5);
}

.dropbtn.active {
    background-color: rgba(255, 206, 56, 0.5);
}

.dropdown img {
    margin-right: 13px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.dropdown .dropbtn {
    position: relative;
}

.dropdown .dropbtn i {
    position: absolute;
    bottom: -3px;
    transform: translateX(-50%);
    left: 68%;
    font-size: 38px;
    color: #60554e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

.meal-type-container, .dietary-pref-container {
    background-color: #feeccaab;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border-radius: 13px; 
    padding: 23px;
    width: fit-content; 
    box-sizing: border-box; 
    border: 3px solid #be8f8f;
}
  
.meal-type, .dietary-pref {
    display: grid;
    grid-template-columns: repeat(5, 120px);
    justify-content: center;
    gap: 20px;
}
  
.meal-type a, .dietary-pref a {
    background-color: #F6DDAF;
    text-align: center;
    color: #571515bd;
    text-decoration: none;
    font-weight: bold;
    border-radius: 18px;
    padding: 10px;
    font-family: math;
    cursor: pointer;
}
  
.meal-type a:hover, .dietary-pref a:hover {
    background-color: rgba(255, 206, 56, 0.5);
}
  
.meal-type img, .dietary-pref img {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
  
.modal-content {
    background-color: #f1e6e6;
    margin: 5% auto;
    padding: 20px;
    border: 3px solid #d0b2b2;
    border-radius: 16px;
    width: 23%;
}
  
.modal-content p {
    font-weight: bold;
    font-family: 'Poppins', sans-serif; 
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
  
.modal input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.modal button {
    background-color: #FFA64D;
    border: none;
    color: white;
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
}
  
.modal button:hover {
    background-color: #f8912b;
}
  
.add-more-ingredients-container {
    text-align: right;
    margin-bottom: 30px;
    color: #0292B7;
    font-size: 13px;
}
  
.add-more-ingredients {
    color: #0292B7;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
  
.search-recipe {
    text-align: center;
}
  
a {
    text-decoration: none;
}
  
a.active {
    background-color: #ffbd53;
    padding: 10px;
    border-radius: 10px;
} 

.input-field-container {
    position: relative;
}

.input-field-container input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-right: 40px;
}

.remove-btn {
    position: absolute;
    right: 12px;
    top: 43%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #b89f9f;
    font-size: 13px;
    cursor: pointer;
}

.remove-btn:hover {
    color: darkred;
}


@media (max-width: 768px) {
    .search-container {
        margin: 10px 20px;
        font-size: 16px; 
    }

    .header {
        text-align: right;
        padding-right: 10px;
    }

    .header h3 {
        font-size: 17px;
        text-align: right; 
    }

    .header p {
        font-size: 14px; 
        text-align: right; 
    }

    .search-by-categories {
        margin-top: 20px;
        text-align: left;
        padding-left: 10px;
    }

    .search-by-categories h2 {
        margin-bottom: 10px;
        padding-left: 10px; 
        font-size: 20px;
    }

    .categories {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        align-items: center;
        gap: 30px; 
    }

    .dropbtn {
        padding: 10px;
        width: 200px; 
        height: 100px; 
        font-size: 16px;
    }

    .dropdown img {
        margin-right: 5px;
        width: 50px;
        height: 50px; 
        object-fit: cover;
    }

    .meal-type-container, .dietary-pref-container {
        display: flex; 
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        flex-wrap: wrap; 
    }

    .meal-type, .dietary-pref {
        display: flex;
        flex-direction: row;
        gap: 10px; 
        flex-wrap: wrap; 
        justify-content: center;
    }

    .meal-type a, .dietary-pref a {
        padding: 0px;
        width: 100px;
        height: 80px;
        font-size: 12px;

    }
    
    .meal-type img, .dietary-pref img {
        width: 60px;
        height: 60px;
    }

    .modal-content {
        width: 50%;
    }

    .modal-content p, .modal button {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .dropbtn {
        padding: 5px;
        width: 150px; 
        height: 100px; 
        font-size: 16px;
    }

    .dropdown img {
        margin-right: 5px;
        width: 40px; 
        height: 40px; 
        object-fit: cover;
    }

    .dropdown .dropbtn i {
        left: 50%;
    }

    .meal-type, .dietary-pref {
        grid-template-columns: 1fr;
    }

    .meal-type a, .dietary-pref a {
        padding: 0px;
        width: 100px;
        height: 80px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .meal-type img, .dietary-pref img {
        width: 40px;
        height: 40px;
    } 

    .modal-content {
        width: 50%;
    }
}

@media (max-width: 320px) {
    .search-container {
        margin: 5px 10px;
        font-size: 14px;
    }

    .header {
        padding-right: 5px;
    }

    .header h3 {
        font-size: 15px;
    }

    .header p {
        font-size: 12px;
    }

    .search-by-categories {
        margin-top: 10px;
        padding-left: 5px;
    }

    .search-by-categories h2 {
        margin-bottom: 5px;
        padding-left: 5px;
        font-size: 18px;
    }

    .categories {
        gap: 20px;
    }

    .dropbtn {
        padding: 5px;
        width: 120px;
        height: 80px;
        font-size: 12px;
    }

    .dropdown img {
        margin-right: 3px;
        width: 30px;
        height: 30px;
    }

    .meal-type-container, .dietary-pref-container {
        flex-wrap: wrap;
    }

    .meal-type, .dietary-pref {
        gap: 5px;
        flex-wrap: wrap;
    }

    .meal-type a, .dietary-pref a {
        padding: 0px;
        width: 100px;
        height: 80px;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .meal-type img, .dietary-pref img {
        width: 40px;
        height: 40px;
    }  

    .modal-content {
        width: 50%;
    }

    .modal-content p, .modal button {
        font-size: 10px;
    }
}






