<div class="user-profile">
    <div class="profile-title">
        <h1>User Profile</h1>
    </div>
    <div class="profile-container">
        <div class="profile-header"> 
            <div class="profile-box">
                <div class="avatar-container">
                    <img [src]="userProfile?.profile_picture || 
                    'assets/images/default-avatar.png'"
                         alt="User Avatar" class="avatar">
                    <img src="assets/images/avatar-icon.png"
                         alt="Change Avatar Icon" class="change-avatar-icon"
                         (click)="triggerAvatarInput()">
                    <input type="file" id="avatarInput" 
                    #avatarInput (change)="onAvatarSelected($event)"
                    style="display: none;">
                </div>

                <div class="profile-info">
                    <div class="share-recipe-container">
                        <button class="share-recipe-button" 
                        (click)="openShareRecipeModal()">
                        + Share Recipe</button>
                    </div>
                    <h2>{{ userProfile?.username }}</h2>
                    <p>{{ userProfile?.bio }}</p> 
                    <div class="profile-stats">
                        <span class="ratings">
                            <img src="assets/images/star.png"
                             alt="Star" class="star-icon"> Ratings
                        </span>
                        <span class="likes">
                            <img src="assets/images/heart.png" 
                            alt="Heart" class="heart-icon"> Likes
                        </span>
                
                        <button class="edit-profile" (click)="openEditModal()">
                            <img src="assets/images/edit-icon.png" 
                            alt="Edit Icon" class="edit-icon"> Edit User Profile
                        </button>
                    </div>                 
                </div>                
            </div>
        </div>
        
        <div class="section">
            <button class="section-button" 
                (click)="toggleSavedRecipes()" 
                [ngClass]="{'active': showSavedRecipes}">
                <h3>Saved Recipes</h3>
            </button>
            <button class="section-button" 
                (click)="toggleMealPlanning()" 
                [ngClass]="{'active': showMealPlanning}">
                <h3>Meal Planning</h3>
            </button>
            <button class="section-button" 
                (click)="toggleActivityLog()" 
                [ngClass]="{'active': showActivityLog}">
                <h3>Activity Log</h3>
            </button>
        </div>

        <div class="profile-content">
            <div class="recipe-list" *ngIf="showSavedRecipes">
                <div class="recipe-card">
                    <img src="assets/images/caramel-blueberry.jpg" 
                    alt="Caramel Blueberry Scones">
                    <p>Caramel Blueberry Scones</p>
                </div>
                <div class="recipe-card">
                    <img src="assets/images/chocolate-jar.jpg" 
                    alt="Chocolate and Banana Jar Cake">
                    <p>Chocolate and Banana Jar Cake</p>
                </div>
                <div class="recipe-card">
                    <img src="assets/images/egg-toast.png" 
                    alt="Eggs and Avocado Toast">
                    <p>Eggs and Avocado Toast</p>
                </div>
            </div>

            <div class="meal-planning" *ngIf="showMealPlanning">
                <div class="meal-box">
                    <h2>Breakfast</h2>
                    <button class="add-image-button" routerLink="/search">
                        <img src="assets/images/add-icon.png" alt="Add Image">
                        <span>Add meal</span>
                    </button>
                </div>
                <div class="meal-box">
                    <h2>Lunch</h2>
                    <button class="add-image-button" routerLink="/search">
                        <img src="assets/images/add-icon.png" alt="Add Image">
                        <span>Add meal</span>
                    </button>
                </div>
                <div class="meal-box">
                    <h2>Dinner</h2>
                    <button class="add-image-button" routerLink="/search">
                        <img src="assets/images/add-icon.png" alt="Add Image">
                        <span>Add meal</span>
                    </button>
                </div>
            </div>
                            
            <div class="activity-log" *ngIf="showActivityLog">
                <div class="activity-log-entry activity-box">
                    <div class="activity-details">
                        <div class="activity-date">May 10, 2024</div>
                        <div class="activity-item">
                            <span class="activity-icon">❤️</span>
                            <span class="activity-text">You liked apol's shared
                                 recipe - “Delicious Apple Tart”</span>
                        </div>
                        <div class="activity-item">
                            <span class="activity-icon">🔖</span>
                            <span class="activity-text">You saved a recipe -
                                 "Spicy Thai Noodles"</span>
                        </div>
                    </div>               
                </div>
            </div>  
        </div>
    </div>
    
    <!-- for edit modal-->
        <div class="modal" *ngIf="showEditModal">
            <div class="modal-content">
                <span class="close" (click)="closeEditModal()">&times;</span>
                <h2>Edit Profile</h2>
                <form (ngSubmit)="saveChanges()">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" 
                        name="username" 
                        [(ngModel)]="userProfile.username" required>
                    </div>

                    <div class="form-group">
                        <label for="bio">Bio:</label>
                        <textarea id="bio" name="bio"
                        [(ngModel)]="userProfile.bio"></textarea>
                    </div>
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>

    <div class="modal" *ngIf="showAvatarModal">
        <div class="modal-content">
            <span class="close" (click)="closeAvatarModal()">&times;</span>
            <h2>Change Avatar</h2>
            <input type="file" (change)="onAvatarSelected($event)">
            <button type="submit" (click)="uploadAvatar()">Upload</button>
        </div>
    </div>

    <!-- for add recipe modal-->
    <div class="modal-add" *ngIf="showShareRecipeModal">
        <div class="modal-content">
            <span class="close" (click)="closeShareRecipeModal()">&times;</span>
            <h2>Share Recipe</h2>
            <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="header"></div>
                    <div class="form-body">
                        <div class="form-section">
                            <div class="title-description-container">
                                <label for="title">Title:</label>
                                <input type="text" id="title"
                                 formControlName="title" required>
                            </div>
                            <div class="title-description-container">
                                <label for="description">Description:</label>
                                <textarea id="description"
                                 formControlName="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Meal Type</label>
                                <select formControlName="mealType">
                                    <option value="">Select Meal Type</option>
                                    <option value="breakfast">Breakfast</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="dinner">Dinner</option>
                                    <option value="dessert">Dessert</option>
                                    <option value="snacks">Snacks</option>
                                </select>
                                <div class="error-message" 
                                    *ngIf="recipeForm.get('mealType')
                                    .hasError('required') && recipeForm.get
                                    ('mealType').touched">
                                    Meal type is required
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Dietary Preferences</label>
                                <select formControlName="dietaryPreferences">
                                    <option value="">
                                        Select Dietary Preference</option>
                                    <option value="vegetarian">
                                        Vegetarian</option>
                                    <option value="vegan">
                                        Vegan</option>
                                    <option value="glutenFree">
                                        Gluten Free</option>
                                    <option value="lowCarb">
                                        Low Carb</option>
                                    <option value="nutFree">
                                        Nut Free</option>
                                </select>
                                <div class="error-message"
                                 *ngIf="recipeForm.get('dietaryPreferences')
                                 .hasError('required') && recipeForm.get
                                 ('dietaryPreferences').touched">
                                    Dietary preference is required
                                </div>
                            </div>
                            <div class="form-group form-group-inline 
                                time-servings-container">
                                <div class="form-group">
                                    <label>Time:</label>
                                    <input type="number" formControlName="hours"
                                     class="small-input" 
                                     required placeholder="HH">
                                    <span>:</span>
                                    <input type="number" 
                                    formControlName="minutes" 
                                    class="small-input"
                                     required placeholder="MM">
                                </div>
                                <div class="form-group">
                                    <label>Servings:</label>
                                    <input type="number"
                                     formControlName="servings" 
                                     class="small-input" required>
                                </div>
                            </div>
                            <div class="ingredients-quantity">
                                <div formArrayName="ingredients">
                                    <div *ngFor="let ingredient of 
                                        ingredients.controls; 
                                        let i = index" [formGroupName]="i" 
                                        class="form-group">
                                        <label>Ingredients</label>
                                        <div class="input-with-icon">
                                            <input formControlName="name"
                                            required placeholder=
                                            "Enter ingredient">
                                            <input type="number" 
                                            formControlName="quantity"
                                             placeholder="Quantity" required>
                                            <button type="button"
                                             (click)="removeIngredient(i)" 
                                             class="delete-button">
                                                <i class="material-icons">
                                                    delete</i>
                                            </button>
                                        </div>
                                        <div class="error-message"
                                         *ngIf="ingredient.get('name')
                                         .hasError('required') 
                                         && ingredient.get('name').touched">
                                            Ingredient name is required
                                        </div>
                                        <div class="error-message"
                                         *ngIf="ingredient.get('quantity')
                                         .hasError('required') && ingredient.get
                                         ('quantity').touched">
                                            Quantity is required
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="add-button" 
                                (click)="addIngredient()">
                                Add Ingredient</button>
                                <div formArrayName="instructions">
                                    <div *ngFor="let instruction of 
                                    instructions.controls; let i = index"
                                     [formGroupName]="i" class="form-group">
                                        <label>Instruction</label>
                                        <div class="input-with-icon">
                                            <input formControlName="step"
                                             required>
                                            <button type="button" 
                                            (click)="removeInstruction(i)" 
                                            class="delete-button">
                                                <i class="material-icons">
                                                    delete</i>
                                            </button>
                                        </div>
                                        <div class="error-message"
                                         *ngIf="instruction.get('step')
                                         .hasError('required') && 
                                         instruction.get('step').touched">
                                            Instruction step is required
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="add-button" 
                                (click)="addInstruction()">
                                Add Instruction</button>
                            </div>
                            
                                <!-- TO DO (Malaluan) Will update this -->
                            <div class="form-group">
                                <label>Image:</label>
                                <input type="file" formControlName="image"
                                 (change)="onImageSelected($event)"
                                  accept="image/*">
                                <div *ngIf="imageUrl">
                                    <img [src]="imageUrl" alt="Recipe Image" 
                                    class="preview-image">
                                </div>
                                <div class="error-message"
                                    *ngIf="!recipeForm.valid && 
                                    recipeForm.get('image').touched">
                                    Please select an image file
                                     (JPEG, PNG, or GIF).
                                </div>
                                <div class="error-message" 
                                *ngIf="!recipeForm.valid && recipeForm.touched">
                                    Mandatory information is missing. 
                                    Please update before saving.
                                </div>
                            </div>
                            
                            <div class="actions">
                                <button type="submit" 
                                [disabled]="!recipeForm.valid" 
                                class="publish">Publish</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>