body {
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 20px;
  left: 40px;
}

.logo img {
  width: 150px;
}

.login-container {
    display: flex;
    align-items: flex-start;
    width: 100%;
    min-height: 100vh; 
    background-color: #f9f9f9;
    padding-bottom: 0;
    margin-bottom: -40px; 
}

.login-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  background: #ffffff;
  border-radius: 8px;
  padding: 50px;
}

.login-form {
  flex: 1;
  padding: 40px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form p.description {
  margin-bottom: 15px;
  color: #666666;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.login-form input.input-error {
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #ff9800;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 100px;
  cursor: pointer;
  justify-content: center;
}

.login-form button:hover {
  background-color: #e68900;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}

.login-form p:last-of-type {
  font-size: 12px;
  
}

.login-form p a {
  color: #0292b7;
  text-decoration: none;
}

.login-graphic {
  flex: 2;
  text-align: center;
  padding: 0;
  margin-top: 0;
  display: flex;
  align-items: flex-start;
}

.login-graphic img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  border-radius: 15px;
  margin-top: -27px;
  padding-right: 12px;
  margin-right: -48px;
}

.login-form .terms {
  font-size: 12px;
  color: #999999;
  position: absolute;
  bottom: 25px;
  left: 10%;
  text-align: center;
}

.login-form .terms a {
  color: #0292b7;
  text-decoration: none;
}

@media (max-width: 767px) {
  .logo {
    top: 10px;
    left: 20px;
  }

  .login-container {
    height: auto;
  }

  .login-content {
    flex-direction: column;
    padding: 20px;
  }

  .login-form {
    padding: 20px;
  }

  .login-graphic {
    display: none;
  }
}

.modal {
  display: block; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 50%;
  max-width: 350px;
  text-align: center;
}

.modal-content a {
  font-size: large;
}

.checkmark-container {
  color: rgb(42, 181, 42);
  background-color: white;
  border-radius: 50%;
}

.login-success {
  color: rgb(42, 181, 42);
  font-size: 25px !important;
  font-weight: bold;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.error-message p {
  margin-top: -9px !important;
  margin-bottom: 15px;
}

.incorrect-credentials {
  margin-bottom: 15px;
  font-weight: bold;
}

.validation-error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.login-form {
  flex: 1;
  padding: 40px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px; 
}

.validation-error {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

.button-container {
  margin-top: 10px; 
  margin-bottom: 10px;
}

.incorrect-credentials {
  color: red;
  text-align: center; 
}
