footer {
    background-color: #FEECCA;
    font-family: "Holla", sans-serif;
    padding: 3px 40px 4px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
  
.footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
.connect {
    display: flex;
    flex-direction: column;
}
  
.connect p {
    color: #FFC55A;
    font-weight: bolder;
    font-size: 11px;
    margin: 5px;
}

.social-icons {
    margin-bottom: 8px;
}
  
.social-icons a {
    margin: 0 10px;
    color: #737373;
    text-decoration: none;
    cursor: default;
}

.social-icons i {
    font-size: 26px;
}
  
.links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.links a {
    text-decoration: none;
    color: #FFC55A;
    font-weight: bold;
    font-size: 10px;
}

.links a:hover {
    color: rgb(102, 90, 90);
}
  
.about {
    text-align: center;
    width: 15%;
    align-content: center;
    margin: 3px 0;
}

.logo-name img {
    max-width: 100%; 
    height: auto;
    width: 100px;
    margin-bottom: 3px;
}
  
.about p {
    color: #737373;
    font-size: 8px;
    margin: 1px;
}

.back-to-top {
    text-align: right;
    padding-left: 5.8em;
}
  
.back-to-top button {
    color: #C2B7B7;
    font-size: 11px;
    font-weight: bolder;
    border: none;
    background-color: #FEECCA;
    text-decoration: underline;
    cursor: pointer;
}

.back-to-top button:hover {
    color: rgb(102, 90, 90);
}

.group-rights {
    margin-top: 28px;
}

.group {
    color: #FFC55A;
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 1px;
}

.rights {
    color: #737373;
    font-size: 8px;
    margin: 1px;
}
  
@media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
    .connect, .about, .back-to-top {
      text-align: center;
      margin: 10px 0;
    }
} 