<footer>
  <div class="footer-content">
    <div class="connect">
      <p>CONNECT</p>
      <div class="social-icons">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fas fa-times"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
      <div class="links">
        <a href="#">All Categories</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Help</a>
      </div>
    </div>
    <div class="about">
      <p class="logo-name"><img src="assets/images/logo_name.png" 
        alt="About"></p>
      <p>Since 2024, FlavorFusion is designed to be a comprehensive 
          and interactive platform for culinary enthusiasts.</p>
    </div>
    <div class="back-to-top">
      <button (click)="scrollToTop()">BACK TO TOP</button>
      <div class="group-rights">
          <p class="group">InnovaTech Group</p>
          <p class="rights">© 2024 FlavorFusion. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>  