.category-heading {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.recipe-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.recipe-container {
    width: 22%;
    margin: 1%;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
}

.recipe-image {
    width: 100%;
    height: 200px;
    border-radius: 23px;
    object-fit: cover;
    border: 3px solid #FFCE38;
}

.recipe-container h3 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: "Poppins", sans-serif;
    font-size: larger;
}

.rating .fa-star,
.rating .fa-star-half-alt,
.rating .fa-star-o {
  color: #ffcc00; 
}

.rating .fa {
    color: gold;
}

.fa-star {
    color: gold;
}
  
.fa-star-half-alt {
    color: gold;
}
  
.fa-star-o {
    color: lightgray;
}

.rating-text {
    margin-left: 10px; 
}

.user-count {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}

@media (max-width: 1200px) {
    .recipe-container {
        width: 30%;
    }
}

@media (max-width: 992px) {
    .recipe-container {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .recipe-container {
        width: 90%;
        margin: 5% 0;
    }
}

@media (max-width: 576px) {
    .recipe-container {
        width: 100%;
        margin: 5% 0;
    }
}
