<div class="cake-container">
  <div class="search-results">
    <h3>Search Results for "{{ query }}":</h3>

    <div *ngIf="searchResults.length">
      <div *ngFor="let result of searchResults" class="cake-card">
        <img [src]="result.image" alt="{{ result.name }}">
        <h3>{{ result.name }}</h3>

        <div class="rating">
          <span *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <i class="fa" 
              [ngClass]="{ 'fa-star': i < result.rating, 
                          'fa-star-o': i >= result.rating }">
            </i>
          </span>
        </div>
      </div>
    </div>
    
    <div *ngIf="!searchResults.length">
      <p>No results found for "{{ query }}"</p>
    </div>
  </div>
</div>
  