.logo {
  text-align: center;
  margin: 20px 0;
}

.logo img {
  max-width: 300px;
  height: auto;
}

h2 {
  color: #d2691e;
  margin-bottom: 30px;
}

p {
  color: #6a6a6a;
  margin-bottom: 30px;
}

.reset-container {
  max-width: 500px;
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fbfbfb;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #000000; 
}

input[matInput], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button[mat-raised-button], button[type="submit"] {
  width: 100%;
  background-color: #ff9800;
  color: white;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  box-sizing: border-box;
}

button[mat-raised-button]:hover, button[type="submit"]:hover {
  background-color: #e68900; 
}

.error {
  color: red;
  margin-top: 5px;
}

.success-snackbar {
  background-color: #4caf50;
  color: #ffffff;
}

.error-snackbar {
  background-color: #f44336;
  color: #ffffff;
}
