header {
    background-color: #FEECCA;
    font-family: "Holla", sans-serif;
    padding: 0px 50px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo img {
    width: 200px;
    height: auto;
}

.nav {
    display: flex;
    gap: 100px;
    padding-left: 100px;
}

.nav a {
    color: #FF5733;
    text-decoration: none;
    font-weight: bolder;
    font-size: 21px;
}

.nav a:hover {
    color: #6d0000;
}

.nav a.active {
    color: #737373;
    cursor: default;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 300px;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFD700;
}

.search-box input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px 10px 10px 33px;
    border: 3px solid #FFD700;
    border-radius: 33px;
}

.search-box input[type="text"]::placeholder {
    color: #333333;
}

.search-box button {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #fab1a1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    padding: 1px 5px;
    z-index: 1;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-actions a {
    font-size: 19px;
    text-decoration: none;
    color: #252323;
    font-weight: bolder;
}

.user-actions a:hover {
    color: #2e9800ce;
}

.user-actions button {
    font-size: 19px;
    text-decoration: none;
    color: #252323;
    font-weight: bolder;
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    outline: none; 
}

.user-actions button:hover {
    color: #2e9800ce;
}


.user-actions img {
    width: 63px;
    height: auto;
    border-radius: 50%;
}

/* CSS styles for the modal */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FEECCA;
    border: 1px solid #FEECCA;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: opacity 0.3s ease;
}
  
.modal p {
    font-size: 20px;
    text-align: center;
    color: #252323;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  