header {
    background-color: #FEECCA;
    font-family: "Holla", sans-serif;
    padding: 0px 50px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    flex-wrap: nowrap; 
}

.logo img {
    width: 200px;
    height: auto;
}

.nav {
    display: flex;
    gap: 100px;
    padding-left: 100px;
}

.nav a {
    color: #FF5733;
    text-decoration: none;
    font-weight: bolder;
    font-size: 21px;
}

.nav a:hover {
    color: #6d0000;
}

.nav a.active {
    color: #737373;
    cursor: default;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    max-width: 400px;
    padding: 0 10px; 
    box-sizing: border-box; 
}

.search-box {
    position: relative;
    width: 100%;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #FFD700;
}

.search-box input[type="text"] {
    width: calc(100% - 30px);
    padding: 10px 10px 10px 33px;
    border: 3px solid #FFD700;
    border-radius: 33px;
}

.search-box input[type="text"]::placeholder {
    color: #333333;
}

.search-box .close-search {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    background: #fab1a1;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    padding: 1px 5px;
    z-index: 1;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px; 
}

.user-actions img.profile-picture {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}

.user-actions img.profile-picture:hover {
    transform: scale(1.03);
}

.user-actions button {
    font-size: 19px;
    text-decoration: none;
    color: #252323;
    font-weight: bolder;
    background: none; 
    border: none; 
    cursor: pointer; 
    padding: 0; 
    outline: none; 
}

.user-actions button:hover {
    color: #2e9800ce;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    position: relative;
    background-color: #fefefe;
    border: 1px solid #888;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 50%;
    max-width: 90%;
    text-align: center;
}

.modal-content {
    text-align: center;
}

.modal p {
    font-size: 20px;
    color: #252323;
}

.modal button {
    width: 100px;
    padding: 10px;
    background-color: #ff9800;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 20px;
}

.modal button:hover {
    background-color: #e68900;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: black;
}


@media (max-width: 768px) {
    header {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .logo img {
        width: 100px;
    }

    .nav {
        flex: 1;
        justify-content: center;
        gap: 10px;
        padding-left: 0;
    }

    .nav a {
        font-size: 14px;
        padding: 5px 3px;
    }

    .search-bar {
        display: flex;
        align-items: center;
        flex: 1;
        max-width: 50%;
        position: relative;
    }

    .search-box {
        width: 100%;
        flex: 1;
        position: relative;
    }

    .search-box input[type="text"] {
        width: calc(100% - 40px);
        padding: 10px 10px 10px 40px;
    }

    .search-box .close-search {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }

    .user-actions {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-left: 10px;
        flex-shrink: 0;
        max-width: 20%;
    }

    .user-actions img.profile-picture {
        width: 30px;
        height: 30px;
    }

    .user-actions button,
    .user-actions a {
        font-size: 14px;
        white-space: nowrap;
    }

    .login-link {
        white-space: nowrap;
    }
}
